@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale (1.4);
  }
}

.about__circle_animation_blurred {
  animation-name: pulsate;
  animation-duration: 1.3s ease-in-out 0s infinite;
}

.about {
  background-color: #0a2850;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about__title {
  max-width: 251px;
  margin-top: 0;
  padding-top: 100px;
  padding-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
}

.about__content {
  max-width: 660px;
  padding-top: 119px;
  padding-bottom: 173px;
  gap: 20px;
  padding-right: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.about__paragraph {
  display: block;
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  left: -149px;
  top: -152px;
  position: absolute;
  z-index: 0;
}
