.card {
  width: 540px;
}
.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 32px;
  margin: 0;
}

.card__list {
  margin: 0;
  padding-left: 0;
}
.card__list-item {
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 16px;
  align-items: flex-end;
}

.card__list-item:last-child {
  padding-bottom: 0px;
}

.card__list-divider {
  display: block;
  min-width: 50px;
  height: 1px;
  background-color: #000;
  flex-grow: 1;
  border-bottom: #000;
}
