.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin-right: 80px;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  transition-duration: 1s;
}

.nav__link:hover {
  color: #2f80ed;
}
