.reservation {
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  color: #000;
}

.reservation__title {
  padding-top: 100px;
  margin-top: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 0;
  text-align: center;
}
.checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
  width: 20px;
  height: 20px;
}

.checkbox-and-label {
  display: flex;
  gap: 12px;
  margin: auto;
}
