.reservation {
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  color: #000;
}

.reservation__title {
  padding-top: 100px;
  margin-top: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 0;
  text-align: center;
}

.form {
  padding-top: 80px;
  padding-bottom: 120px;
}
.reservation__form {
  margin-top: 0;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  padding-bottom: 32px;
  margin: auto;
  border: none;
  gap: 8px;
}

input {
  height: 60px;
}

.form__input {
  border-radius: 4px;
}

.form__fieldset-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.checkbox-and-label__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-color: #838383;
}

.form__button {
  border-radius: 4px;
  height: 60px;
  width: 385px;
  background-color: #2f80ed;
  color: #fff;
  opacity: 1;
  transition: opacity 1s;
  border: none;
}
.form__button:hover {
  opacity: 0.7;
}
.form__fielset_terms {
  flex-direction: row;
}

.checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
  width: 20px;
  height: 20px;
}

.checkbox-and-label {
  display: flex;
  gap: 12px;
  margin: auto;
}
